<!-- index.html.erb -->
<%if user_signed_in?%>

  <h1>Friends</h1>

    <div id="friends-table" class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Twitter</th>
            <th colspan='2'>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @friends.each do |friend| %>
            <% if friend.user == current_user%>
            <%= render partial: 'friend', locals: { friend: friend } %>
          <% end %>
          <%end%>
        </tbody>
      </table>
    </div>

    <%= link_to 'New friend', 
        new_friend_path, class:'btn btn-primary' %>

<% else %>

<h1>Hello World!</h1>

<% end %>